+popup#callback
    .popup__ibg.ibg 
        +picture(jpg, `${assets}capture-bg`, 'sl')
    .popup__title Оставьте заявку, и&nbsp;наш менеджер свяжется с вами
    form.popup__form
        .input-wrap.input-wrap--light 
            label.input-label Имя
            input.input(type="text" name="Имя")
        .input-wrap.input-wrap--light 
            label.input-label Телефон
            input.input.phone(type="tel" name="Телефон")
        .btn-solid-wrap 
            .btn-solid-red-sub
            button.popup__form-btn.btn.btn-solid-red(type="submit") ОСТАВИТЬ ЗАЯВКУ
        .popup__form-policy Нажимая на кнопку, я соглашаюсь с&nbsp;#[a(href=privacyLink) политикой конфиденциальности]