+popup#thanks
    .popup__ibg.ibg 
        +picture(jpg, `${assets}capture-bg`, 'sl')
    .popup__title--lg Спасибо!
    .popup__subtitle Мы вам перезвоним, чтобы обсудить ваши пожелания и ответить на вопросы
    a.calc__btn.calc__prev.btn.btn-outline-primary.uk-modal-close(href="#") 
        +icon('angle-left')
        span Вернуться назад