/* ========================================================================
   Component: slider-nav
 ========================================================================== */
.slider-nav {
    max-width: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 0 1.0625rem;
    @include center-item-x('relative');
    margin: 0.8125rem auto;
    @media (min-width: map-get($grid-breakpoints, lg)) {
        padding: 0 33px;
        margin: 34px auto;
    }
    .slidenav {
        @include center-item();
    }
    .dotnav {
        max-width: 100%;
        overflow-x: auto;
    }
}

/* ========================================================================
   Component: Slidenav
 ========================================================================== */

 .slidenav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    pointer-events: none;
    &__item {}
    &__link {
        pointer-events: initial;
        color: rgba($secondary, 0.4);
        &--prev {}
        &--next {}
    }
    &__icon {
        width: 0.7rem;
        @media (min-width: map-get($grid-breakpoints, lg)) {
            width: 1rem;
        }
    }
}

/* ========================================================================
   Component: Thumbnav
 ========================================================================== */

.thumbnav {
    display: flex;
    &__item {
        display: flex;
        &.uk-active {
            .thumbnav {
                &__link {}
            }
        }
    }
    &__link {
        display: inline-block;
        width: 100px;
        height: 100px;
        background: #eee;
        &:hover {}
        &:focus {}
    }
}

/* ========================================================================
   Component: Dotnav
 ========================================================================== */

.dotnav {
    display: flex;
    justify-content: center;
    li {
        flex: none;
        padding: 0 0.4375rem;
        @media (min-width: map-get($grid-breakpoints, lg)) {
            padding: 0 10px;
        }
        a {
            display: block;
            width: 1.25rem;
            height: 1.25rem;

            border-radius: 50%;
            // border-width: 0.125rem;
            // border-style: solid;
            // border-color: $primary;
            background: rgba($secondary, 0.4);

            text-indent: 100%;
            overflow: hidden;
            white-space: nowrap;

            @media (min-width: map-get($grid-breakpoints, lg)) {
                width: 29px;
                height: 29px;
            }
            /* Hover + Focus */
            &:hover, &:focus {
                background-color: link-hover($primary);
                outline: none;
            }
            /* OnClick */
            &:active {
               
            }
        }
        /* Active */
        &.uk-active {
            a {
                background-color: $secondary;
            }
        }
    }
    &--white {}
    &--yellow {}
}




